<!doctype html>

<html>
<head>
	<!-- Google Analytics Content Experiment code -->
	<!--
	<script>function utmx_section(){}function utmx(){}(function() {
		var k='190311337-0',d=document,l=d.location,c=d.cookie;
		if(l.search.indexOf('utm_expid='+k)>0)return;
		function f(n){if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.
		indexOf(';',i);return escape(c.substring(i+n.length+1,j<0?c.
		length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;d.write(
		'<sc'+'ript src="'+'http'+(l.protocol=='https:'?'s://ssl':
		'://www')+'.google-analytics.com/ga_exp.js?'+'utmxkey='+k+
		'&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='+new Date().
		valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
		'" type="text/javascript" charset="utf-8"><\/sc'+'ript>')})();
	</script><script>utmx('url','A/B');</script>
	-->
	<!-- End of Google Analytics Content Experiment code -->

	<title>Alarms Page</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/introHCI.css" rel="stylesheet" type="text/css">
	<script src="js/jquery-1.11.0.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/parking.js"></script>
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

	<!-- Google Analytics -->
	<!--
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-134918054-1', 'auto');
		ga('send', 'pageview');
	</script>
	-->
	<!-- End Google Analytics -->
</head>

<body background="images/blurred.jpg">
	<div class="header">	
		<div>
			<a href="setReminder" id="rightOption"><button class="remove_mobile"> add </button></a>
			<button id="leftOption" class="remove_mobile">edit</button></a> 
			<h2 id="alarmsHeader"> Alarms </h2>
		</div>
	</div>	


		<!-- Add the alternate view here -->
		<div id="reminderDiv">
		<!-- Dynamically Listing all of our current reminders -->
		<ul class="list-unstyled reminderList">
		{{#each reminders}}
			<li class="reminderList" id="list{{@index}}">
				<div class="alarmContent">
					<p class="timeDisplay" id="time{{@index}}"> {{classTime}} </p>
					<p> {{day}} </p>
				</div>	
			
				<div class="onoffswitch switch">
				    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch{{@index}}" unchecked>
				    <label class="onoffswitch-label" for="myonoffswitch{{@index}}">
				        <span class="onoffswitch-inner"></span>
				        <span class="onoffswitch-switch"></span>
				    </label>
				</div>
			</li>
		{{/each}}		
		</ul>	
		</div>

		<p id="length">{{ reminders.length }}</p>

	<!-- FOOTER -->
	<table>
		<tr>
			<th bgcolor="white">
				<a href="parking">
					<img src="images/parking.png" id="appLogo" style="width:50px;height:50px;">
				</a>	
				<form action="parking">
					<input type="submit" value="Parking" class="remove_mobile"/>
				</form>
			</th>
			<th bgcolor="white">
				<img src="images/reminding_select.png" id="appLogo" style="width:50px;height:50px;">
				<form action="reminders">
					<input type="submit" value="Alarms" class="remove_mobile"/>
				</form>
			</th>
			<th bgcolor="white">
				<a href="settings">
					<img src="images/setting.png" id="appLogo" style="width:50px;height:50px;">
				</a>	
				<form action="settings">
					<input type="submit" value="Settings" class="remove_mobile"/>
				</form>
			</th>
		</tr>	
	</table>		

	<script>
		function print(t) {
		  	var [h,m] = t.split(":");
		  	var time = ( (h % 12 + 12 * (h % 12 == 0)) + ":" + m);
		  	if(h >= 12) {
		  		var timeformat = "PM";
		  	}else {
		  		var timeformat = "AM";
		  	}
		  	time = time + timeformat;
		  	return time;
		}

		var arraylength = document.getElementById("length").innerHTML;

		// fixes the am/pm display of each of the alarms
		for(var i = 0; i < arraylength; i++) {
			var t = document.getElementById("time"+i.toString()).innerHTML
			var newTime = print(t);
			
			document.getElementById("time"+i.toString()).innerHTML = newTime;
		}

		// toggles alarm functionality interval
		for(var i = 0; i < arraylength; i++) {
			if(sessionStorage.getItem("list" + i.toString()) == "none") {
				var list = document.getElementById("list" + i.toString());
				list.style.display = "none";
			}
		}

		// toggles visibility of the "toggle" switch
		for(var i = 0; i < arraylength; i++) {
			if(sessionStorage.getItem("myonoffswitch" + i.toString()) == "true") {
				var switcher = document.getElementById("myonoffswitch" + i.toString());
				switcher.checked = true;
				console.log(i.toString() + " is true");
			}else {
				var switcher = document.getElementById("myonoffswitch" + i.toString());
				switcher.checked = false;
			}
		}
	</script>	
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</body>
</html> 
